@import '../variables';
@import '../breakpoints';
@import '../mixin';

.main-startsida {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/bilder/Havvesbakgrund.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;


  @media (max-height: 600px) {
    .main-startsida {
      min-height: 600px; 
    }

    .border-box,
    .border-box-2,
    .border-box-3 {
      margin: 10px;
    }
  }

  .pris-lista-rubrik {
    @include heading-style;
    font-family: $text-font;
  }

  .border-box,
  .border-box-2,
  .border-box-3 {
    border: 2px solid $border-color;
    padding: 20px;
    text-align: center;
    background-color: $primary-color;
    margin: 10px;
    border-radius: 43px;

    p {
      font-family: $text-font;
      color: $text-color;
    }
  }

  .ul-listan,
  .ul-listan-två,
  .ul-listan-tre {
    flex-direction: column;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      list-style: none;
      font-family: $text-font;
      color: $text-color;
    }
  }
}
