footer {
    background-color: #29292990;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 2em;
  
    li {
      color: #fff;
      padding-top: 15px;
      display: flex;
      justify-content: center;
      list-style: none;
    }
  }

  .fa-brands {

font-size: 30px;
color: white;
  }
  
  @media screen and (min-width: 820px) {
    footer {
      justify-content: space-evenly;
      flex-direction: row;
    }
  }