/* Basic reset for styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Header styles */
.site-header {
    background-color: #ccc;
    padding: 10px 0;
}

.site-nav {
    text-align: center;
}

.site-nav ul {
    list-style-type: none;
}

.site-nav ul li {
    display: inline-block;
    margin: 0 10px;
}

.site-nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold
}