@import 'variables';
@import 'breakpoints';
@import 'mixin';
* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: $nav_foot-font;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  nav {
    padding: 0px 5px;
    background: $navFooter-color;
    display: flex;
    justify-content: space-evenly;

    .fa-bars {
      font-size: 30px;
      color: $text-color;
    }

    .checkbtn {
      display: flex;
      float: right;
    }

    .restaurang-namn {
      font-family: $nav_foot-font;
      font-weight: bold;
      color: $text-color;
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
    }
    .logo {
      .logo-img {
        display: flex;
        width: 100%;
        min-width: 50px;
        max-width: 90px;
        height: auto;
        border: 0;
        border-radius: 50%;
        padding: 4px;
        margin: 0;
      }
    }

    ul {
      background: $primary-color;
      position: fixed;
      top: 90px;
      right: -100%;
      text-align: center;
      transition: 0.4s ease;
      color: $text-color;

      li {
        display: block;
        margin: 60px 0px;
        line-height: 20px;
        
      }
    }
    #check:checked ~ ul {
      right: 0;
      width: 30%;
    }

    .checkbtn {
      display: flex;
      align-items: center;
      float: right;
    }

    #check {
      display: none;
    }
  }
}

@media screen and (min-width: 820px) {
  body {
    nav {
      display: flex;
      justify-content: space-evenly;

      .fa-bars {
        display: none;
      }
      ul {
        display: flex; /* Visa länkarna horisontellt */
        height: auto; /* Återgå till normal höjd */
        position: static; /* Återgå till normal position */
        background: none;
        align-items: center;

        li {
          margin: 0; /* Ta bort margin från länkarna */
          display: flex;
          justify-content: space-between;
          a {
            margin-right: 20px;
          }
        }
      }
    }
  }
}
