@import "../variables";
@import "../breakpoints";
@import "../mixin";

body {
}

main {
  justify-content: center;
  display: center;
  background-image: url(Kontakt-bakgrundsbild.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover, 100%;
  background-position: center;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #29292990;
  width: 80%;
  padding: 10px;
  font-family: $text-font;
}

#kundinfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #29292990;
  border-style: solid;
  border-width: 2px;
  border-color: #c87a31;
  border-radius: 43px;
  color: $text-color;
  width: 70%;
  padding: 20px;
}

#paket {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #29292990;
  border-style: solid;
  border-width: 2px;
  border-color: #c87a31;
  border-radius: 43px;
  color: $text-color;
  width: 70%;
  padding: 20px;

  h2 {
    margin: 20px;
    display: flex;
    justify-content: center;
  }
}

#kundinfo2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #29292990;
  border-style: solid;
  border-width: 2px;
  border-color: #c87a31;
  border-radius: 43px;
  color: $text-color;
  width: 70%;
  padding: 20px;
}

textarea {
  width: 12em;
  height: 8em;
  color: rgb(201, 196, 189);
  border-color: #c87a31;
  border-radius: 2px;
}

h1 {
  color: white;
  margin-bottom: 5px;
}

.input {
  background-color: white;
  border-radius: 8px;
  color: black;
}

@media screen and (min-width: $desktop-screen) {
  #kundinfo {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}
