@import '../variables';
@import '../breakpoints';
@import '../mixin';

body {
   background-image: url(../bilder/asian.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    
}

.main-meny {
  background-color: $primary-color;
  width: 90%;
}

.titel {
  @include heading-style;
  font-family: $text-font;
}

.gallery-box {
    display: flex;
    margin: 1em;
    justify-content: center;
}



div.gallery {
    margin: 5px;
    border: 2px solid $border-color;
    border-radius: 43px;
    max-width: 180px;
  
    &:hover {
      border-color: $text-color;
    }
  
    img {
      width: 100%;
      height: auto;
      border-radius: 43px;
      padding: 4px;
    }
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

.text-box {
    width: 80%;
    display: flex;
    justify-content: center;
    border: 2px solid $border-color;
    padding: 0.5em;
    border-radius: 43px;
    height: auto;
    background-color: $primary-color;
    margin: 1em auto; // 1=top and bottom -- auto=left and right

    p {
        text-align: center;
        width: 70%;
    }
}

.base {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 0.5em;
}

.container {
    display: flex;
    align-items: center;
    border: 2px solid $border-color;
    border-radius: 43px;
    width: 60%;
    margin: 0.5em auto;
    height: 10em;
    

    img {
        width: 55%;
        max-width: 140px;
        min-width: 117px;
        border-radius: 43px;
        vertical-align: middle;
    }

   
}

.img-col {
    flex-basis: 40%;
    margin: 0 auto;
    
}

p {
    color: $text-color;
    font-family: $text-font;
}

.desc {
    color: $text-color;
}

h2 {
    text-align: center;
    color: $text-color;
}

@mixin mobile-font-size($size) {
    font-size: 16px;
    .gallery-box {
      max-width: 150px;

    }
    .main-meny {
      background-color: $primary-color;
      width: 100%;
    }
  }
  
  @mixin desktop-font-size($size) {
    @media (min-width: 768px) {
      font-size: 18px;
    }

  }